# dependencies
node_modules

# build outputs
dist
.next
out

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# git
.git
.gitignore

# OS / editor
.DS_Store
.vscode
.idea

# docker
docker-compose.yml
Dockerfile

# temp
.tmp
.temp
