NODE_ENV=development
PORT=3001

# MONGO_URI=mongodb://mongo:27017/lms_db
MONGO_URI=mongodb://localhost:27017/lms_db

JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d
EMAIL_USER=email li ghadi tsift mno password l user
EMAIL_PASS=pass dyal application gmail (machi dyal compte dyalkom)